.bg{
    background-image: url("https://ik.imagekit.io/npursfgai/Tourism%20Projects/sea-ocean");
    height: 600px;
    width:400px;
    background-size:contain;
    background-repeat: no-repeat;
}
.bg1{
    background-image: url("https://ik.imagekit.io/npursfgai/Tourism%20Projects/taj-mahal");
    height: 700px;
    width:400px;
    background-size:contain;
    background-repeat: no-repeat;
}